@import '../../../../../kc-ui/src/styles/variables.scss';

.exploreCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

.exampleChip.accepted {
  color: $success;
}

.exampleChip.declined {
  color: $error;
}

.cel-actions{
  justify-content: end;
  font-weight: 700;
}
