<h1 class="text-color-primary mb-2">Welcome to home</h1>

<kc-section title="Frequent Asked Questions">

  <!-- Expansion module -->
  <mat-accordion>
    <mat-expansion-panel style="margin-bottom: 8px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 1
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="First MAT">

            <h4 class="mb-2">Pellentesque egestas a nisl et imperdiet</h4>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed feugiat lorem. Duis ac pharetra lacus, quis mattis felis.
            Donec tellus sem, congue non tortor vel, viverra faucibus ligula. Nam bibendum mattis purus, at posuere nunc mattis ut. Proin commodo facilisis feugiat.
            Proin convallis massa sit amet pharetra tempus. Duis tincidunt tellus massa, nec tempor odio mattis et. Maecenas viverra orci et ipsum consequat pellentesque.
            Aenean ligula leo, suscipit nec pulvinar a, faucibus condimentum metus. Vestibulum ligula lectus, aliquet vel pulvinar id, sodales id quam.
            Mauris in justo ullamcorper, tristique nibh finibus, euismod neque. Vivamus fringilla orci vitae magna sagittis interdum. Nam pretium velit ac maximus imperdiet.
            Nam molestie accumsan aliquet. Quisque et quam vulputate, commodo elit ut, ultricies nunc.
            Vivamus est tortor, ultricies id sodales ac, eleifend vitae arcu.

        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>



    </mat-expansion-panel>

    <mat-expansion-panel style="margin-bottom: 8px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 2
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

  </mat-accordion>

</kc-section>

<kc-section title="Table">
  <kc-filter sectionActionHeader (selected)="changeFilter($event)" label="Select filter" [options]="filters" ></kc-filter>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <kc-chip class="exampleChip"
          [ngClass]="getClassStatus(element.status)"
          [icon]="getIconStatus(element.status)"
          [label]="getStringCammelCase(element.status)"></kc-chip>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <kc-button color="primary" icon="share" iconPosition="left" basic>Share</kc-button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</kc-section>


<kc-section title="Explore similar cards">
  <div class="exploreCards">
    <kc-card>
      <div card-title>Similar Card 1</div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
      <div card-footer>
        <kc-button type="submit" color="primary" icon="arrow_forward" iconPosition="right" basic>Explore Similar Study</kc-button>
      </div>
    </kc-card>
    <kc-card>
      <div card-title>Similar Card 2</div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
      <div card-footer>
        <kc-button type="submit" color="primary" icon="arrow_forward" iconPosition="right" basic>Explore Similar Study</kc-button>
      </div>
    </kc-card>
  </div>
</kc-section>
