$primary: #006281;
$primary-light: #4d91a7;
$primary-dark: #00506e;
$secondary: #ff4081;
$secondary-light: #ff79b0;
$secondary-dark: #c60055;
$success: #0C6904;
$error: #AA0000;
$border-color: rgba(0, 0, 0, 0.12);
$font-family: Roboto, "Helvetica Neue", sans-serif;
$color-text: #3C3C3C;
